<div class="page-header">
  <h1>
    Song lists
    <a href="/song_lists/new" class="btn btn-lg btn-success">New Song list</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Song</th>
        <th>Playlist</th>
        <th>Actions</th>
      </tr>

      <% @song_lists.each do |song_list| %>
      <tr>
        <td>
          <% if song_list.song.present? %>
            <a href="/songs/<%= song_list.song.id %>">
              <%= song_list.song.title %>
            </a>
          <% end %>
        </td>
        <td>
          <% if song_list.playlist.present? %>
            <a href="/playlists/<%= song_list.playlist.id %>">
              <%= song_list.playlist.name %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/song_lists/<%= song_list.id %>" class="btn btn-primary">Show</a>
          <a href="/song_lists/<%= song_list.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_song_list/<%= song_list.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @song_lists, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
