<div class="page-header">
  <h3>Playlist #<%= @playlist.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @playlist.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/playlists" class="btn btn-primary">
        Back
      </a>
      <a href="/playlists/<%= @playlist.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_playlist/<%= @playlist.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Playlist has many song_lists -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Song Lists
      </li>

      <% @playlist.song_lists.each do |song_list| %>
        <li class="list-group-item">
          <a href="/song_lists/<%= song_list.id %>">
            <%= song_list.song_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/song_lists/<%= song_list.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/song_lists/<%= song_list.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_song_list/<%= song_list.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
